.tagContainer {
  position: relative;
  display: flex;
  gap: 0.25rem;
  list-style-type: none;
  padding: 0;
  overflow-x: hidden;
  white-space: nowrap;
  margin-left: calc(((100vw - (100vw - 100%)) - 1200px) / 2);
}

.containerDesktop {
  overflow: hidden;
  flex-wrap: wrap;
  height: 2rem;
  transition: height 0.4s ease-out;
}

.showTagsButton {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 1) 100%
  );
  border: none;
  height: 2rem;
  text-decoration: underline;
  color: var(--neutral-60);
  padding-left: 2rem;
}

.showTags {
  height: 7rem;
}

@media screen and (max-width: 1405px) {
  .tagContainer {
    margin-left: calc(((100vw - (100vw - 100%)) - 85vw) / 2);
  }
}
