.actionContainer {
  display: none;
}

@media screen and (max-width: 900px) {
  .actionContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    width: 100%;
    padding: 0;
  }
}
