.bigQuote {
  display: grid;
  column-gap: 2rem;
  place-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  justify-content: start;
}

.quoteContainer {
  width: 100%;
  grid-column: 1 / 9;
  grid-row: 1;
}

.iconsContainer {
  grid-column: 12;
  justify-self: end;
  align-self: start;
}

@media screen and (max-width: 768px) {
  .bigQuote {
    display: flex;
    flex-direction: column;
  }

  .iconsContainer {
    display: flex;
    margin-top: 2rem;
  }

  .quotationMark {
    font-size: 3rem;
  }
  .headingL {
    text-indent: -1rem;
  }
}
