.singleQuote {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  gap: 8rem;
  padding: 3rem 0;
  transition-property: color, background-color, padding;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

.quoteContainer {
  width: 900px;
}

.singleQuote:hover {
  cursor: pointer;
  background-color: var(--neutral-5);
  color: var(--primary-dark);
  padding: 3rem;
}

.actionsContainer {
  display: none;
}

.linksContainer {
  display: none;
}

@media screen and (max-width: 768px) {
  .iconsContainer {
    display: none;
  }

  .linksContainer {
    display: block;
  }

  .singleQuote {
    flex-direction: column;
    justify-content: initial;
    gap: 1rem;
    background-color: var(--neutral-5);
    padding: 1.5rem;
    transition-property: color, background-color, padding;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
  }

  .singleQuote:hover {
    padding: 1.5rem;
  }

  .quoteContainer {
    width: initial;
  }
}
