.actionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .actionContainer {
    flex-direction: row;
    padding: 0;
  }
}
