.action {
  color: var(--primary);
  list-style-type: none;
  background-color: var(--neutral-5);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.action svg {
  scale: 1.2;
}

.action:hover {
  cursor: pointer;
  background-color: var(--neutral-20);
}

.actionText {
  display: none;
}

@media screen and (max-width: 768px) {
  .action {
    width: initial;
    height: initial;
    padding: 0.125rem 0.75rem;
    border-radius: 2rem;
    gap: 0.5rem;
    min-height: 2rem;
  }
  .actionText {
    display: block;
  }
}
