.action {
  color: var(--primary);
  list-style-type: none;
  background-color: var(--neutral-10);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action svg {
  scale: 1.2;
}

.action:hover {
  cursor: pointer;
  background-color: var(--neutral-20);
}
