:root {
  /* Colors */
  --neutral-100: #000;
  --neutral-60: #5c5c5c;
  --neutral-30: #ddddd5;
  --neutral-20: #e8e8e3;
  --neutral-10: #f4f4f1;
  --neutral-5: #f8f8f7;
  --neutral-0: #fff;
  --primary: #eb780a;
  --primary-dark: #b55a05;

  --gradient-primary: linear-gradient(
    270deg,
    #ffa800 0%,
    #ff7b00 50%,
    #0016ff 100%
  );

  /* Typography */
  --primary-typography-family: mrs-eaves-xl-serif, serif;
  --secondary-typography-family: brother-1816, sans-serif;
}
