@import "reset.css";
@import url("https://use.typekit.net/ool5xba.css");

/* Typography */
.heading-L {
  font-family: var(--primary-typography-family);
  font-style: italic;
  font-weight: normal;
  font-size: 3rem;
  line-height: 4rem;
}

.heading-M {
  font-family: var(--primary-typography-family);
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
}

.heading-S {
  font-family: var(--secondary-typography-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
}

.body-L {
  font-family: var(--secondary-typography-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
}

.body-M {
  font-family: var(--secondary-typography-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
}

.body-S {
  font-family: var(--secondary-typography-family);
  color: var(--neutral-60);
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

a {
  transition: color 200ms, text-decoration 200ms;
}
a:hover {
  color: var(--primary-dark);
}

cite {
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .heading-L {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .heading-M {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .heading-S {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .body-L {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .body-M {
    font-size: 0.9rem;
    line-height: 1.75rem;
  }

  .body-S {
    font-family: var(--secondary-typography-family);
    color: var(--neutral-60);
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

/* Line */
hr {
  width: 100%;
  border-top: 1px solid var(--neutral-20);
}

/* Container */
.container {
  width: 85vw;
  max-width: 1200px;
  margin: 0 auto;
}

/* Colors */
.gray-60 {
  color: var(--neutral-60);
}

.neutral-20 {
  color: var(--neutral-20);
}

.neutral-0 {
  color: var(--neutral-0);
}

/* Loading animation */
@keyframes loadAnimation {
  from {
    background-color: var(--neutral-5);
  }
  to {
    background-color: var(--neutral-20);
  }
}

.loading {
  color: var(--neutral-10);
  animation-duration: 1s;
  animation-name: loadAnimation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  min-width: 10rem;
}

/* Social button */
.socialBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  background-color: var(--neutral-10);
  border: 1px solid var(--neutral-20);
  padding: 1rem;
  border-radius: 0.25rem;
  transition: 0.4s;
}

.socialBtn:hover {
  background-color: var(--neutral-20);
}
