.background {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.backLink {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  margin-left: 1rem;
}

.backLink:hover {
  color: var(--neutral-0);
  text-decoration: underline;
}

.quoteContainerBG {
  width: 768px;
  height: 768px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.quoteContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--neutral-0);
  width: 90%;
  padding: 2.5rem 2rem;
  border-radius: 0.75rem;
}
.author {
  display: flex;
  gap: 1rem;
}

.authorImg {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}
.authorName {
  text-decoration: none;
  font-weight: bold;
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.engagement {
  display: flex;
  gap: 2rem;
}

.engagement p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.quackQuotesLink {
  position: absolute;
  bottom: 0;
  padding: 0.5rem 1.5rem;
  background-color: var(--neutral-100);
  border-radius: 0.5rem 0.5rem 0 0;
}

.iconsContainer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3.5rem -3.5rem;
}

.colorsContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 3.5rem -3.5rem;
}
