.author {
  display: flex;
  gap: 1rem;
}

.authorInfo {
  margin-top: 1rem;
  color: var(--neutral-100);
}

.authorImg {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}
.authorName {
  text-decoration: none;
  font-weight: bold;
}
