@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700&family=Work+Sans:ital,wght@1,600&display=swap");

/* Typography */
.heading-L {
  font-family: var(--typography-family);
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.25rem;
}

.heading-M {
  font-family: var(--typography-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.5rem;
}

.heading-S {
  font-family: var(--typography-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
}

.body-M {
  font-family: var(--typography-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.body-S {
  font-family: var(--typography-family);
  color: var(--neutral-60);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 768px) {
  .heading-L {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .heading-M {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .heading-S {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .body-M {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

/* Line */
hr {
  width: 100%;
  border-top: 1px solid var(--neutral-20);
}

/* Container */
.container {
  width: 85vw;
  max-width: 1200px;
  margin: 0 auto;
}

/* Colors */
.gray-60 {
  color: var(--neutral-60);
}
