@import "reset.css";
@import url("https://use.typekit.net/ool5xba.css");

/* Typography */
.heading-L {
  font-family: var(--primary-typography-family);
  font-style: italic;
  font-weight: normal;
  font-size: 3rem;
  line-height: 4rem;
}

.heading-M {
  font-family: var(--primary-typography-family);
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
}

.heading-S {
  font-family: var(--secondary-typography-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
}

.body-L {
  font-family: var(--secondary-typography-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
}

.body-M {
  font-family: var(--secondary-typography-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
}

.body-S {
  font-family: var(--secondary-typography-family);
  color: var(--neutral-60);
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

a:hover {
  color: var(--primary-dark);
}
@media screen and (max-width: 768px) {
  .heading-L {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .heading-M {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .heading-S {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .body-L {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .body-M {
    font-size: 0.9rem;
    line-height: 1.75rem;
  }

  .body-S {
    font-family: var(--secondary-typography-family);
    color: var(--neutral-60);
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

/* Line */
hr {
  width: 100%;
  border-top: 1px solid var(--neutral-20);
}

/* Container */
.container {
  width: 85vw;
  max-width: 1200px;
  margin: 0 auto;
}

/* Colors */
.gray-60 {
  color: var(--neutral-60);
}
